<div class="box-intro box-select">
    <h3 class="small-title">DELEGACIA GERAL DE POLÍCIA CIVIL</h3>
    <!--<small class="sub-titulo">Selecione as informações</small>-->
    <form class="select_info" role="form" id="informacao_geral_form">
            
            </br>
            <h2>Superintendência</h2>
            <select class="form-control" id="superintendencia">
            </select>                    
            <h2>DSPC</h2>
            <select class="form-control" id="dspc">
            </select>                    
            <h2>Delegacia</h2>
            <select class="form-control" id="delegacia">
            </select>
            <h2>Delegado</h2>
            <select class="form-control" id="delegado">
            </select>
            <div class="float-button">
                <button type="submit" class="">Salvar</button>
            </div><!--/float-button-->
    </form>
</div><!--/box-intr o-->