<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Principais Funções</a></li>
  <li><a href="#" class="botao-inicio">Início</a></li>
  <li><a href="#" class="botao-novo-bo">Boletim de Ocorrência</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Consultas</a></li>
  <li><a href="#" class="botao-lista-bo">Boletins</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Configurações</a></li>
  <li><a href="#" class="botao-novo-bo">Gerais</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li class="active"><a href="#" id="sair_btn">Sair</a></li>
</ul>