<div class="centro">

    <div id="status_sistema">
        <div class="ball on"></div><!--ball-->
        <small class="status">ON</small>
    </div><!--/status_sistema-->

    <h1 id="s-i">sistema de inteligência</h1>

    <div id="usuario">
        <small class="nome_usuario">Logado por <b>usuário</b></small>
    </div><!--/usuario-->

    <div id="barra-de-ferramentas">
        
    </div><!--barra-de-ferramentas-->
    
    <nav id="menu-principal">
        <ul>
            <li class="botao-novo new-bg" id="botao-novo-bo">
                <div class="icons-nav" id="icon-bo"></div><!--/icon-bo-->
                b.o.
            </li>
            <li class="botao-novo bt-second" id="botao-novo-tco">
                <div class="icons-nav" id="icon-tco"></div><!--/icon-bo-->
                t.c.o.
            </li>
            <li class="botao-novo bt-second" id="botao-novo-inquerito">
                <div class="icons-nav" id="icon-inquerito"></div><!--/icon-bo-->
                Inquérito
            </li>
            <li class="botao-novo" id="botao-novo-apf">
                <div class="icons-nav" id="icon-apf"></div><!--/icon-bo-->
                a.p.f.
            </li>
            <li class="botao-novo bt-second" id="botao-novo-peca">
                <div class="icons-nav" id="icon-peca"></div><!--/icon-bo-->
                p.e.c.a
            </li>
            <li class="botao-novo" id="botao-novo-consultas">
                <div class="icons-nav" id="icon-consultas"></div><!--/icon-bo-->
                consultas
            </li>
            <li class="botao-novo" id="botao-novo-config">
                <div class="icons-nav" id="icon-conf"></div><!--/icon-bo-->
                configurações
            </li>

        </ul>
    </nav><!--/menu-principal-->
    <div id="conteudo">
        
    </div><!--/conteudo-->


</div><!--/centro-->