<div class="box-intro">
        <h3 class="panel-title">identifique-se</h3>
        <form id="login_form">
            <input type="text" class="form-control" placeholder="Matrícula" id="inputMatricula"/>
            <input type="password" class="form-control" id="inputSenha" placeholder="Senha"/>
            <div class="check">
                <input type="checkbox"/> Lembrar de mim
            </div><!--/check-->
            <button type="submit">Entrar</button>
        </form>
</div><!--/box-intro-->